<section class="section">
  <h2>About Us</h2>
  <p>Welcome to Desilicious Cafe, your neighborhood haven for authentic, 100% vegetarian South Indian breakfast. Located on  West Parmer Line, Austin Texas, we bring you the comfort and flavor of home-cooked classics like idly, vada, dosa, pongal, poori, and chapathi — made fresh every day with love and tradition.
    Whether you're craving a quick bite or a leisurely meal with family, we invite you to savor the warmth, spice, and soul of South Indian cuisine — right here in Austin.
  </p>
</section>
